<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="text" name="id" id="id" placeholder="아이디"><br>
        <input type="password" name="password" id="password" placeholder="비밀번호"><br>
        <input type="text" name="name" id="name" placeholder="이름"><br>
        <input type="number" name="age" id="age" placeholder="나이"><br>
        <input type="file" name="userfile"><br><br>
        <button type="submit">회원가입</button>
    </form>

    <h2>동적 파일 업로드</h2>
    <input type="file" name="thumbnail" id="thumbnail"><br>
    <input type="text" name="title-name" id="title-name">
    <button type="button" onclick="uploadThumbnail();">업로드</button>
    <br>

    <img src="" alt=""><br>
    <div class="text-container"></div>

    <script src="/static/js/thumbnail.js"></script>
   
</body>
</html>