// <div className='container'>
// <div className='redbox'>1</div>
//   <div className='yellowbox'>2</div>
//   <div className='bluebox'>3</div>
// </div>
// @import './utils';

$color-red: red;
$color-yellow:yellow;
$color-blue: blue;


.container {

    .box {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }



    &.redbox {
        @extend .box;
        background-color: $color-red;

    }

    &.yellowbox {
        @extend .box;
        background-color: $color-yellow;

    }

    &.bluebox {
        @extend .box;
        background-color: $color-blue;

    }


}