<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project<%= title %></title>
</head>
<body>
    <!-- <h1>Home</h1> -->
    <!-- <%= 10-2 %>
    <%= true ? '참' : '거짓' %>
    <%# 주석입니다 %>

    <% for(var i=0; i<5; i++){ %>
        <h2>Hello</h2>
    <% } %> -->

    <nav>
        <div>
            <a href="/"><h1>My Blog</h1></a>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/create">CREATE</a></li>
            </ul>
        </div>
    </nav>

    <div>
        <h1>HOME</h1>
    </div>




</body>
</html>