/* 하위(후손) 선택자 : 띄어쓰기(공백)*/
body section {
    /* border : 테두리(경계선) soild:두깨, 선스타일 선색상  */
    border: 1px solid blue;
}

body section h2 {
    border: 2px solid pink;
}

/* 자식 선택자 : > */
.first > h2 {
    color: white;
    background-color: navy;
}
.second > h2 {
    color: navy;
    background-color: white;
}

/* 인접형제 선택자 : +  */
/* 주의) lion 이라는 아이드를 갖는 요소 바로 뒤에 꼭 바로 li태그가 있어야 함 */
#lion + li {
    background-color: rgb(255, 162, 0);
}
/* 일반 형제 선택자 : ~ */
#lion ~ li {
    color: #002aff;
}

/* css 색상 */
/* 
    1. 색상 키워드 : red, blue, aqua, white
    2. 16진수 코드(#xxxxxx) : 0~9, a~f : 16개의 기호(rgb)로 표현
    3. rgb(0~255, 0~255, 0~255): 
*/