* {
    padding: 0;
    margin: 0;
  }
  .container {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: grid;
    grid-template-areas:
      'header header header header'
      'aside1 section1 section1 aside2'
      'aside1 section2 section3 aside2'
      'footer footer footer footer';
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }
  .item1 {
    grid-area: header;
    background-color: #f94144;
    grid-area: header;
  }
  .item2 {
    background-color: #f3722c;
    grid-area: aside1;
  }
  .item3 {
    background-color: #f9c74f;
    grid-area: section1;
  }
  .item4 {
    background-color: #43aa8b;
    grid-area: section2;
  }
  .item5 {
    background-color: #f8961e;
    grid-area: section3;
  }
  .item6 {
    background-color: #90be6d;
    grid-area: aside2;
  }
  .item7 {
    background-color: #4444ff;
    grid-area: footer;
  }