 /* ›* {
    margin: 0;
    padding: 0:
}

div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid none;
    background: linear-gradient(290deg, yellow, orange, brown);
    position: absolute;

    animation: ball 5s ease  infinite normal ;
}

@keyframes ball {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(calc(100vw - 100px));
    }
    50% {
        transform: translate(calc(100vw - 100px), calc(100vh - 100px));
    }
    75% {
        transform: translateY(calc(100vh - 100px));
    }
}
     */


.text {
    animation: text 3s;

}

@keyframes text {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        left: 0;
        width: 100%;
    }
    
}
