<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- jQuery CDN(ajax를  간편하게 사용하고자 불러옴) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <h1><%= title %></h1>

    <form name="register">
        <label for="name">이름</label>
        <input type="text" id="name" name="name">
        <br>

        <span>성별</span>
        <input type="radio" name="gender" value="남자" id="male">
        <label for="male">남자</label>
        <input type="radio" name="gender" value="여자" id="female">
        <label for="female">여자</label>
        <br>

        <button type="button" onclick="ajaxGet();">ajax get 방식 요청</button>
        <button type="button" onclick="ajaxPost();">ajax post 방식 요청</button>
    </form>

    <div class="result"></div>

    <script>
        const resultBox = document.querySelector('.result');

        function ajaxPost(){
            console.log('click ajaxPost button');

            //1. 폼 선택하기 
            const form = document.forms['register'];

            //3. 서버로 보낼 데이터 양식 생성
            const data = {
                name: form.name.value,
                gender : form.gender.value
            }

            //3. ajax 비동기 통신 실시(post 방식)
            $.ajax({
                type: 'POST',
                url:'/ajax', // 이 요청을 받을 '서버 측 경로'
                data, // data : data 
                success: function(data){
                    console.log(data);
                    resultBox.textContent = `post / ajax 요청에 대한 응답 완료! ${data.name}님은 ${data.gender}이시죠? `;
                    resultBox.style.color = 'red';
                }
            });
        };

        function ajaxGet(){
            console.log('click ajaxGet button');

            //1. 폼 선택하기 
            const form = document.forms['register'];

            //2. 폼 요소의 값을 추출하기
            // console.log(form);
            console.dir(form);
            console.dir(form.name);
            console.dir(form.gender);
            console.dir(form.name.value);
            console.dir(form.gender.value);

            //3. 서버로 보낼 데이터 양식 생성
            const data = {
                name: form.name.value,
                gender : form.gender.value
            }


            //3. ajax 비동기 통신 실시(get 방식으로 서버의 index.js 파일로 유저가 브라우저에 입력한 값을 보내기)
            $.ajax({
                type: 'get',
                url:'/ajax', // 이 요청을 받을 '서버 측 경로'
                data, // data : data // data: {name: form.name.value, gender : form.gender.value}
                success: function(data){
                    console.log(data);
                    resultBox.textContent = `GET / ajax 요청에 대한 응답 완료! ${data.name}님은 ${data.gender}이시죠? `;
                    resultBox.style.color = 'blue';
                }
            })
        }
    </script>
</body>
</html>